.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: #F9FAFB;
  border-bottom: 1px solid #E5E7EB;
}
.headerIcon {
  cursor: pointer;
  color: #111827;
  font-size: 20px;
}
.headerTitle {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}
