
.screen {
  width: 100%;
  height: 100%;
  background-color: #F9F9FF; 
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  margin-bottom: 24px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}